.kk-title {
	margin-left: 20px;
}

.kk-player {
	display: block;
	height: 30px;
	position:relative;
}

.kk-playtoggle {
	position: absolute;
	top: 7px;
	left: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.kk-playtoggle.glyphicon-play{
	color: green;
}

.kk-playtoggle.glyphicon-pause{
	color: red;
}

.kk-playtoggle:active {
	top: 10px;
}

.kk-gutter {
	position: absolute;
	top: 6px;
	left: 40px;
	right: 200px;
	height: 20px;
	background: #aaaaff;
	border: solid 9px white;
}

.kk-timeleft {
	line-height: 48px;
	position: absolute;
	top: -9px;
	right: 120px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #7f7f63;
}

.kk-download{
	float: right;
	margin-right: 20px;
	margin-top: -24px;
}

.kk-handle {
	position: absolute;
	top: -4px;
	left: 0px;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	border: solid 2px #aaaaaa;
	background-color: red;
}

.kk-loading {
	background: #fff;
	background: #939eaa;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeef1), to(#c7cfd8));
	background: -moz-linear-gradient(top, #eaeef1, #c7cfd8);
	background: linear-gradient(top, #eaeef1, #c7cfd8);
	-webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
	-moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
	-o-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
	box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	display: block;
	float: left;
	min-width: 6px;
	height: 6px;
}

